* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  font-size: 62.5%;
  @media (max-width: 320px) {
    font-size: 55%;
  }
}

body {
  background-color: var(--type-brand-black);
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

p {
  letter-spacing: 0.009em;
}
