
:root {
    // Colors-Brand 
    --type-brand-yellow: #EEAF15;
    --type-brand-black: #000000;
    --type-brand-gray: #827D77;
    --type-brand-white: #FFFFFF;

    // Colors-Wire
    --type-wire-900: #1C1C1E;
    --type-wire-800: #4E4B59;
    --type-wire-700: #5F5C6B;
    --type-wire-600: #7A7786;
    --type-wire-500: #8C8A97;
    --type-wire-400: #ACABB7;
    --type-wire-300: #C6C5CE;
    --type-wire-200: #DCDBDE;
    --type-wire-100: #E8E8EA;
}

